button {
	color: rgb(0, 153, 255);
	font-size: 18px;
	margin: 10px;
	padding: 8px 30px;
	background-color: transparent;
	border: 2px solid rgb(0, 153, 255);
	border-radius: 5px;

	&:hover {
		background-color: rgb(0, 153, 255);
		color: white;
	}
}
