.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
	position: relative;
	z-index: 1;
	max-width: 500px;
	width: 100%;
	padding: 20px 30px;
	color: black;
	background-color: white;
}

.option {
	max-width: 150px !important;
	overflow: hidden !important;
	white-space: nowrap;
}

.select {
	max-width: 150px !important;
	overflow: hidden !important;
	white-space: nowrap;
}
